{
  "openapi": "3.0.0",
  "info": {
    "title": "UniShop API Documentation",
    "description": "UniShop API Documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://shoptest1.surgelab.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/user/order/{id}/cancel": {
      "post": {
        "tags": ["Orders"],
        "summary": "Cancel order",
        "description": "Cancel a specific order by its ID (only orders with pending payment status can be cancelled)",
        "operationId": "cancelOrder",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Order ID",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "订单取消成功"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "order": {
                          "$ref": "#/components/schemas/Order"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "成功取消订单",
                    "value": {
                      "code": 200,
                      "message": "订单取消成功",
                      "data": {
                        "order": {
                          "id": 1,
                          "order_sn": "ABC123DEF456GHI7",
                          "title": "王者荣耀点券 x 1",
                          "email": "user@example.com",
                          "actual_price": "98.00",
                          "status": -1,
                          "created_at": "2024-01-01 12:00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid order status or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidStatus": {
                    "summary": "订单状态不允许取消",
                    "value": {
                      "code": 400,
                      "message": "只有待支付状态的订单才能取消",
                      "data": null
                    }
                  },
                  "missingId": {
                    "summary": "缺少订单ID",
                    "value": {
                      "code": 400,
                      "message": "请求参数错误",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权访问",
                    "value": {
                      "code": 401,
                      "message": "Unauthenticated",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "notFound": {
                    "summary": "订单不存在",
                    "value": {
                      "code": 404,
                      "message": "订单不存在",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "serverError": {
                    "summary": "服务器内部错误",
                    "value": {
                      "code": 500,
                      "message": "订单取消失败",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/search-by-sn": {
      "post": {
        "tags": ["Orders"],
        "summary": "Search order by order number",
        "description": "Search for a single order by its order number",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["order_sn"],
                "properties": {
                  "order_sn": {
                    "type": "string",
                    "description": "Order number",
                    "example": "ABC123DEF456GHI7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Bad request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/search-by-email": {
      "post": {
        "tags": ["Orders"],
        "summary": "Search orders by email",
        "description": "Search for orders by email address",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address",
                    "example": "user@example.com"
                  },
                  "search_pwd": {
                    "type": "string",
                    "description": "Search password (optional)",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/order/search-by-browser": {
      "post": {
        "tags": ["Orders"],
        "summary": "Search orders by browser cache",
        "description": "Search for orders stored in browser cookies",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Order ID",
            "example": 1
          },
          "order_sn": {
            "type": "string",
            "description": "Order number",
            "example": "ABC123DEF456GHI7"
          },
          "title": {
            "type": "string",
            "description": "Order title",
            "example": "王者荣耀点券 x 1"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email",
            "example": "user@example.com"
          },
          "actual_price": {
            "type": "string",
            "description": "Actual payment price",
            "example": "98.00"
          },
          "status": {
            "type": "integer",
            "description": "Order status",
            "enum": [1, 2, 3, 4, 5, 6, -1],
            "example": 4
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time",
            "example": "2024-01-01 12:00:00"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Error code",
            "example": 400
          },
          "message": {
            "type": "string",
            "description": "Error message",
            "example": "Bad request"
          },
          "data": {
            "type": "null",
            "description": "Error data is null",
            "example": null
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "description": "Bearer Token认证",
        "bearerFormat": "JWT",
        "scheme": "bearer"
      }
    }
  }
}